*{
    margin: 0;
    padding: 0;
}
.navi{
    padding-top: 51px;
}
.top__info{
    margin-top:94px;
    margin-bottom: 103px;
}
.titil{
    margin-bottom: 17px;
}
.top__buttons{
margin-top: 52px;
}
.logo{
    margin-bottom: 98px;
}